@import "scss_partian/config";

body {
  font-family: 'Roboto', sans-serif;
  font-size: $fontSize;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 60px;
  margin-bottom: 60px;
  flex-grow: 1;
  display: flex;
}